@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-ubantu {
    font-family: 'Ubuntu', sans-serif;
}

.font-ibm {
    font-family: 'IBM Plex Sans', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    width: 0;
}